# ignore everything
/*

# except this file
!.gitignore

# ...and the expected structure
!/bin
!/public
!/routes
!/views
!app.js
!package.json

# ...and automation files
!/tests

# ...and repository details
!LICENSE
!README.md